* {
  padding: 0%;
  margin: 0%; }

html {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Comforter Brush', cursive;
  font-family: 'Estonia', cursive;
  font-family: 'Mukta', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Readex Pro', sans-serif; }

body {
  background-color: rgb(241, 241, 241);
  color: rgb(32, 32, 32) }

header {
  background-color: rgb(75, 156, 189);
  border-bottom: solid #a09797 1px;
  display: flex;
  justify-content: space-between;
  padding: 10px; }
  header h2 a {
    text-decoration: none;
    color: rgb(32, 32, 32); }

section .descripcion {
  padding: 20px;
  color: rgb(32, 32, 32); }

section .fotos {
  display: grid;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 3em; }

section .fotos img {
  width: 600px;
  border-radius: 5px; }

footer {
  background-color: rgb(75, 156, 189);
  border-top: solid #a09797 1px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px; }
  footer a {
    font-size: large;
    text-decoration: none;
    color: rgba(255, 136, 0, 0.856) }

@media screen and (max-width: 660px) {
  section .descripcion h2 {
    text-align: center; }
  section .fotos img {
    width: 400px; } }

@media screen and (max-width: 420px) {
  body {
    font-size: small; }
  section .fotos img {
    width: 250px; } }

@media screen and (max-width: 270px) {
  section .fotos img {
    width: 100px; } }
