* {
  margin: 0%;
  padding: 0%; }

html {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Comforter Brush', cursive;
  font-family: 'Estonia', cursive;
  font-family: 'Mukta', sans-serif;
  font-family: 'Poppins', sans-serif; }

body {
  background-color: #f1f1f1; }

header {
  background-color: #4b9cbd;
  border-bottom: solid #a09797 1px;
  display: flex;
  justify-content: space-between;
  padding: 10px; }
  header h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 136, 0, 0.856);
    font-size: 40px; }
  header h2 a {
    text-decoration: none;
    font-size: x-large;
    color: #202020; }

section .presentacion {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 3em;
  padding-bottom: 3em; }
  section .presentacion h2 {
    color: #202020;
    text-align: center; }
  section .presentacion img {
    margin: auto;
    width: 500px;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  section .presentacion img:hover {
    border-top-left-radius: 10px;
    animation-duration: 0.25s;
    border-left: 8px solid cornflowerblue;
    box-shadow: 0 14px 28px #202020; }

section .trabajos h2 {
  text-align: center;
  color: rgba(255, 136, 0, 0.856);
  padding: 2em; }

section .trabajos .herramientas {
  display: grid;
  grid-template-columns: 50% 50%; }

section .trabajos .herramientas div {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 5em; }

section .trabajos .herramientas div img {
  width: 100px; }

section form {
  margin: 5em;
  color: rgba(255, 136, 0, 0.856); }
  section form fieldset {
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    border-style: dashed;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  section form fieldset:hover {
    box-shadow: 0 14px 28px #202020; }
  section form fieldset input {
    width: 50em;
    height: 30px;
    border-radius: 5px;
    transition: all 0.5s; }
  section form fieldset input:focus {
    border-top-left-radius: 10px;
    animation-duration: 0.25s;
    border-left: 8px solid cornflowerblue;
    border-bottom: 8px solid #4969a7;
    box-shadow: 0 14px 28px rgba(180, 180, 180, 0); }
  section form fieldset .boton {
    transition: all 0.1s; }
  section form fieldset .boton:hover {
    border-top-left-radius: 10px;
    animation-duration: 0.25s;
    border-left: 8px solid cornflowerblue;
    border-bottom: 7px solid #4969a7;
    box-shadow: 0 14px 28px rgba(180, 180, 180, 0.25); }
  section form fieldset .boton:active {
    animation-duration: 0.25s;
    border-bottom: 5px solid #4969a7;
    border-left: 5px solid cornflowerblue; }
  section form div a {
    text-decoration: none;
    color: rgba(255, 136, 0, 0.856); }

footer {
  border-top: solid #a09797 1px;
  background-color: #4b9cbd;
  font-size: x-large;
  display: flex;
  justify-content: space-evenly;
  padding: 10px; }
  footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856); }

@media screen and (max-width: 1020px) {
  section .presentacion img {
    width: 400px; } }

@media screen and (max-width: 888px) {
  header {
    font-size: small; }
    header a {
      font-size: 20px; }
  section {
    font-size: small; }
    section .presentacion {
      display: flex;
      flex-direction: column;
      gap: 3em; }
    section .presentacion img {
      width: 300px; }
    section .trabajos a img {
      width: 300px; }
    section form fieldset input {
      width: 500px; }
  footer {
    font-size: small; } }

@media screen and (max-width: 700px) {
  header nav h2 a {
    font-size: medium; }
  section form fieldset input {
    width: 350px; } }

@media screen and (max-width: 590px) {
  section form fieldset input {
    width: 250px; } }

@media screen and (max-width: 445px) {
  header h1 {
    font-size: 30px; }
  section .presentacion img {
    width: 200px; }
  section .trabajos a img {
    width: 200px; }
  section form fieldset input {
    width: 200px; } }

@media screen and (max-width: 410px) {
  header h1 {
    font-size: 25px; }
  header nav h2 a {
    font-size: small; }
  section form fieldset {
    padding: 15px;
    font-size: x-small; } }

@media screen and (max-width: 360px) {
  section form {
    margin: 2em; }
  section form fieldset input {
    width: 200px; } }
