*{
    padding: 0%;
    margin: 0%;
}

html{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}
body{
    background-color: rgb(17, 17, 17);
    color: cornflowerblue;
}
header{
    border-bottom: solid rgb(160, 151, 151) 1px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    h2 a{
        text-decoration: none;
        color: cornflowerblue;
    }
}
section{
    .descripcion{
        padding: 20px;
        color: rgb(184, 237, 100);
    }
    .fotos{
        display: grid;
        justify-content: center;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .fotos img{
        width: 600px;
        border-radius: 5px;
    }
}
footer{
    border-top: solid rgb(160, 151, 151) 1px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    a{
        text-decoration: none;
        color: cornflowerblue;
    }
}
@media screen and (max-width: 660px){
    section{
        .descripcion h2{
            text-align: center;
        }
        .fotos img{
            width: 400px;
    }}
}
@media screen and (max-width: 420px){
    body{
        font-size: small;
    }
    section .fotos img{
        width: 250px;
    }
}
@media screen and (max-width: 270px){
    section .fotos img{
        width: 100px;
    }
}
