*{
    margin: 0%;
    padding: 0%;
}

html{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(241, 241, 241);
}

header{
    background-color: rgb(75, 156, 189);
    border-bottom: solid rgb(160, 151, 151) 1px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    h1{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-family: 'Comforter Brush', cursive;
        font-family: 'Estonia', cursive;
        font-family: 'Poppins', sans-serif;
        color: rgba(255, 136, 0, 0.856);
        font-size: 40px;
    }
    h2 a{
        text-decoration: none;
        font-size: x-large;
        color: rgb(32, 32, 32);
}}

section{
    .presentacion{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 3em;
        padding-bottom: 3em;
    h2{
        color: rgb(32, 32, 32);
        text-align: center;
    }
    img{
        margin: auto;
        width: 500px;
        border-radius: 5px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    img:hover{
        border-top-left-radius: 10px;
        animation-duration: 0.25s;
        border-left: 8px solid rgb(100, 149, 237);
        box-shadow: 0 14px 28px rgb(32, 32, 32);
    }}
    .trabajos{
        h2{
            text-align: center;
            color: rgba(255, 136, 0, 0.856);
            padding: 2em;
        }
        .herramientas{
            display: grid;
            grid-template-columns: 50% 50%;
        }
        .herramientas div{
            display: flex;
            justify-content: center;
            padding-top: 3em;
            padding-bottom: 5em;
        }
        .herramientas div img{
            width: 100px;
        }}
        form{
            margin: 5em;
            color: rgba(255, 136, 0, 0.856);
            fieldset{
                padding: 3em;
                display: flex;
                flex-direction: column;
                gap: 5px;
                border-radius: 10px;
                border-style: dashed;
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            }
            fieldset:hover{
                box-shadow: 0 14px 28px rgb(32, 32, 32);
            }
            fieldset input{
                width: 50em;
                height: 30px;
                border-radius: 5px;
                transition: all 0.5s;
            }
            fieldset input:focus{
                border-top-left-radius: 10px;
                animation-duration: 0.25s;
                border-left: 8px solid rgb(100, 149, 237);
                border-bottom: 8px solid rgb(73, 105, 167);
                box-shadow: 0 14px 28px rgba(180, 180, 180, 0)
            }
            fieldset .boton{
                transition: all 0.1s;
            }
            fieldset .boton:hover{
                border-top-left-radius: 10px;
                animation-duration: 0.25s;
                border-left: 8px solid rgb(100, 149, 237);
                border-bottom: 7px solid rgb(73, 105, 167);
                box-shadow: 0 14px 28px rgba(180, 180, 180, 0.25)
            }
            fieldset .boton:active{
                animation-duration: 0.25s;
                border-bottom: 5px solid rgb(73, 105, 167);
                border-left: 5px solid rgb(100, 149, 237);
            }
            div a{
                text-decoration: none;
                color: rgba(255, 136, 0, 0.856);
            }
        }
}
footer{
    border-top: solid rgb(160, 151, 151) 1px;
    background-color: rgb(75, 156, 189);
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.856);
    }
}
@media screen and (max-width: 1020px) {
    section .presentacion img{
        width: 400px;
    }
}
@media screen and (max-width: 888px) {
    header{
        font-size: small;
        a{
            font-size: 20px;
        }}
    section{
        font-size: small;
        .presentacion{
            display: flex;
            flex-direction: column;
            gap: 3em;
        }
        .presentacion img{
            width: 300px;
        }
        .trabajos a img{
            width: 300px;
        }
        form fieldset input{
            width: 500px;
        }
    }
    footer{
        font-size: small;
    }
}
@media screen and (max-width: 700px){
    header{
        nav h2 a{
            font-size: medium;
        }
    }
    section form fieldset input{
        width: 350px;
    }
}
@media screen and (max-width: 590px){
    section form fieldset input{
        width: 250px;
    }
}
@media screen and (max-width: 445px){
    header{
        h1{
            font-size: 30px;
        }
    }
    section{
    .presentacion img{
        width: 200px;
    }
    .trabajos a img{
        width: 200px;
    }
    form fieldset input{
        width: 200px;
    }
}
}
@media screen and (max-width: 410px){
    header{
        h1{
            font-size: 25px;
        }
        nav h2 a{
            font-size: small;
        }
    }
    section form fieldset{
        padding: 15px;
        font-size: x-small;
    }
}
@media screen and (max-width: 360px){
    section{
        form{
            margin: 2em;
        }
        form fieldset input{
            width: 200px;
        }
    }
}