*{
    margin: 0%;
    padding: 0%;
}
html{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(17, 17, 17);
}
h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Poppins', sans-serif;
    color: rgb(49, 78, 133);
}
header{
    background-color: rgb(171, 171, 180);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
header a{
    text-decoration: none;
    font-size: x-large;
    color: rgb(49, 78, 133);
}
section{
    color: cornflowerblue;
    padding: 5em;
    display: flex;
    flex-direction: column;
    gap: 10em;
}
section fieldset{
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    border-style: dashed;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
section fieldset:hover{
    box-shadow: 0 14px 28px rgba(180, 180, 180, 0.25)
}
section fieldset input{
    width: 50em;
    height: 30px;
    border-radius: 5px;
    transition: all 0.5s;
}
section fieldset input:focus{
    border-top-left-radius: 10px;
    animation-duration: 0.25s;
    border-left: 8px solid rgb(100, 149, 237);
    border-bottom: 8px solid rgb(73, 105, 167);
    box-shadow: 0 14px 28px rgba(180, 180, 180, 0.25)
}
section fieldset .boton:hover{
    border-top-left-radius: 10px;
    animation-duration: 0.25s;
    border-left: 8px solid rgb(100, 149, 237);
    border-bottom: 8px solid rgb(73, 105, 167);
    box-shadow: 0 14px 28px rgba(180, 180, 180, 0.25)
}
section fieldset .boton{
    transition: all 0.1s;
}
section fieldset .boton:active{
    animation-duration: 0.25s;
    border-bottom: 5px solid rgb(73, 105, 167);
    border-left: 5px solid rgb(100, 149, 237);
}
section div a{
    text-decoration: none;
    color: cornflowerblue;
}
footer{
    background-color: rgb(171, 171, 180);
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
footer a{
    text-decoration: none;
    color: rgb(49, 78, 133);
}
@media screen and (max-width: 930px) {
    body{
        font-size: small;
    }
    section fieldset input{
        width: 40em;
    }
    footer a{
        font-size: small;
    }
}
@media screen and (max-width: 760px) {
    body{
        font-size: x-small;
    }
    section fieldset input{
        width: 30em;
    }
}
@media screen and (max-width: 555px) {
    body{
        font-size: x-small;
    }
    section fieldset input{
        width: 20em;
    }
}
@media screen and (max-width: 430px) {
    body{
        font-size: x-small;
    }
    section fieldset input{
        width: 10em;
    }
}