*{
    margin: 0%;
    padding: 0%;
}

html{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(17, 17, 17);
}

h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Poppins', sans-serif;
    color: rgb(49, 78, 133);
}

header{
    background-color: rgb(171, 171, 180);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header a{
    text-decoration: none;
    font-size: x-large;
    color: rgb(49, 78, 133);
}

section .presentacion{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 3em;
    padding-bottom: 3em;
}

section h2{
    color: cornflowerblue;
    text-align: center;
}

.presentacion img{
    margin: auto;
    width: 500px;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.presentacion img:hover{
    border-top-left-radius: 10px;
    animation-duration: 0.25s;
    border-left: 8px solid rgb(100, 149, 237);
    box-shadow: 0 14px 28px rgba(180, 180, 180, 0.25)
}
.trabajos a{
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
    padding-top: 3em;
}
.trabajos a img{
    width: 600px;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.trabajos a img:hover{
    border-top-left-radius: 10px;
    animation-duration: 0.25s;
    border-left: 8px solid rgb(17, 17, 17);
    box-shadow: 0 14px 28px rgba(180, 180, 180, 0.25)
}
.trabajos a{
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.trabajos a:hover{
    background-color: rgb(100, 149, 237);
    border-top-left-radius: 10px;
    animation-duration: 0.25s;
}
footer{
    background-color: rgb(171, 171, 180);
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: rgb(49, 78, 133);
}
@media screen and (max-width: 1020px) {
    .presentacion img{
        width: 400px;
    }
}
@media screen and (max-width: 830px) {
    header{
        font-size: small;
    }
    header a{
        font-size: 20px;
    }
    section{
        font-size: small;
    }
    section .presentacion{
        display: flex;
        flex-direction: column;
        gap: 3em;
    }
    .presentacion img{
        width: 300px;
    }
    .trabajos a img{
        width: 300px;
    }
    footer{
        font-size: small;
    }
}
@media screen and (max-width: 395px){
    header{
        font-size: x-small;
    }
    .presentacion img{
        width: 200px;
    }
    .trabajos a img{
        width: 200px;
    }
}